@using System.Linq.Expressions
@model ProductViewModel

@{
    var cssClassPopupOn = Model.PopupOn ? "products__popup-on" : string.Empty;
}

<div class="products__popup @cssClassPopupOn" >
    <div class="products__overlay">
    </div>
    <div class="products__newProduct">
        <span class="products__btn-close">&#10006;</span>
        <form asp-action="CreateProduct" asp-controller="Home" asp-antiforgery="true">
            <div>
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <label class="produts__nabel font-weight-bold" asp-for="ProductName"></label>
                    <input type="text" asp-for="ProductName" />
                    <span asp-validation-for="ProductName"></span>
                </div>
                <div>
                    <label class="produts__nabel font-weight-bold" asp-for="Supplier"></label>
                    <select asp-for="Supplier" asp-items="new SelectList(Model.Suppliers.Select(x => x.CompanyName))"></select>
                </div>
                <div>
                    <label class="produts__nabel font-weight-bold" asp-for="@Model.Category"></label>
                    <select asp-for="Category" asp-items="new SelectList(Model.Categories.Select(x => x.CategoryName))"></select>
                </div>
                <div>
                    <label class="produts__nabel font-weight-bold" asp-for="QuantityPerUnit"></label>
                    <input type="text" asp-for="QuantityPerUnit" />
                </div>
                <div>
                    <label class="produts__nabel font-weight-bold" asp-for="UnitPrice"></label>
                    <input type="text" asp-for="UnitPrice" />
                    <span asp-validation-for="UnitPrice"></span>
                </div>
                <div class="pt-4 float-right">
                    <input class="btn btn-outline-dark" type="submit" value="Save" />
                </div>
            </div>
        </form>

    </div>
</div>
