<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="watcherSection"  type ="ConsoleApp1.WatcherConfigurationSection, ConsoleApp1" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <watcherSection appName="My App">
    <culture culture ="ru-Ru"/>
    <defaultFolder path="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\dest\default\"/>
    <folders>
      <add path="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\source\1"/>
      <add path="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\source\2"/>
      <add path="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\source\3"/>
    </folders>
    <rules>
      <add name=".txt" folder="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\dest\txt" isAddDate="true" isAddNumber ="true"/>
      <add name=".bmp" folder="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\dest\bmp" isAddDate ="true"/>
      <add name=".rtf" folder="C:\Users\Dzmitry_Khileuski\Desktop\temp\MENTORING\dest\rtf" isAddDate="true" isAddNumber ="true"/>
    </rules>
  </watcherSection>
</configuration>